@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.wrapper{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
/* header h1 start */
.top-link{
    margin-top: 63px;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    
}
.top-link span {
    color: #4bcaff;
    
}
.top-link a{
    text-decoration: none;
    color: #000000;
}

/* header h1 have finished */

/* header nav start */
.nav-header{
    margin: 48px 0 38px ;
}
.nav-header ul{
    display: flex;
    justify-content: center;
    border: 1px solid transparent;
    background-color: #35444F;
    
}   

.nav-header .nav-header-link{
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    border-left: 1px solid #FFFFFF;
    padding: 26px 33px 19px;
}
.nav-header .nav-header-link:last-child{
    border-right: 1px solid #FFFFFF;
}

.nav-header-link:hover{
    background-color: #222F3A;
}

/* header nav have finished */

/* main content start */
/* main-nav start */

.main-content {
    display: flex;
    justify-content: space-between;
    gap: 52px;
}
.main-nav-list {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    box-sizing: border-box;
    width: 344px; 
}

.nav-main-link {
    display: block;
    padding: 27px;
    padding-left: 44px;
    text-decoration: none;
    color: #485863;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
}
.nav-main-link:hover{
    color: #35444F;
    background-color:#DBDBDB;
    padding-left: 70px;
}
/* main-nav have finished */

/* main-content start */

.main-logo {
    display: flex;
    width: 885px;
    height: 529px;
    border: 1px solid #000000; 
    margin-bottom: 37px;
}
.main-logo img {
    margin: auto;
    display: block;
    transition: 1s;
}
.main-logo img:hover{
    transform: scale(1.05);
}
.main-description p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.main-description > p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 34px;
}

/* main-content have finished */
/* footer-content start */
.footer-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: rgba(99, 105, 110, 0.48);
}

.footer-nav ul{ 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
.footer-nav-link {
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    padding: 20px 0;
    margin-left: 30px;
}


.footer-nav-link:hover{
    color: #3484a4;
    border-bottom: 1px solid #3484a4;
    padding-bottom: 13px;
}
.left-space{
    margin-left: 40px;
}

.footer-content p {
    /* margin: auto; */
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    padding-right: 40px;
}


/* footer-content have finished */